<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>

<%= render 'form', order: @order %>

<%= link_to 'Back', orders_path %>

<%= f.collection_select :customer_id, Customer.all, :id, :full_name, include_blank: true %>
